@import url("https://fonts.googleapis.com/css?family=Gelasio|Roboto");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");
/* Colors and fonts */
body {
	background: rgb(230, 230, 230);
	font-family: 'Gelasio';
	font-size: 18px;
	margin: 0px;

}
h1, h2, h3 {
	font-family: 'Roboto';
	font-weight: bold;

}
a{
	text-decoration: none;

}
a:hover {
	color: black;
}